menu "watts"
    menuconfig WATTS_DRIVERS
        bool "Watts Drivers"
        default n
        select BQ76952
        ---help---
            Enable watts driver
    rsource "*/Kconfig"
endmenu #watts
